<?xml version="1.0"?>
<!--
  Logicrays_PaypalUsd
  Keeps storefront display/base in KWD, but forces USD for PayPal NVP calls.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Logicrays_PaypalUsd" setup_version="1.0.0"/>
</config>
